name = "mw-hub"
main = "workers/ws.js"
compatibility_date = "2024-09-01"

[[durable_objects.bindings]]
name = "HUB"
class_name = "Hub"

[[migrations]]
tag = "v1"
new_classes = ["Hub"]

[[kv_namespaces]]
binding = "WATCHLIST_KV"
id = "562ae453690441bfabbacd0850cbe3c1"
preview_id = "32b5726ad5984b269d508d42fbfd7317"

[vars]
QUOTE = "USD"
COIN_LIST = ""

# Optional: Cron trigger for keeping DO warm
[triggers]
crons = ["*/5 * * * *"]