@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --row-hover-gain: linear-gradient(90deg,#f1b43a22,#f1b43a00);
  --row-hover-lose: linear-gradient(90deg,#ae4bf522,#ae4bf500);
}

/* globals */
html, body, #root { height: 100%; background-color: #000; color: #fff; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
